@font-face {
    font-family:roboto;
    src: url(./robot.tff.ttf);
}
nav
{
    height: 10vh;
    width: 100%;
    opacity: 0.4;
    background: linear-gradient(rgb(255,255,255,0.1),rgb(255,255,255,0.1)) ;
    position: fixed;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 100;
}
body
{
    font-family: roboto;
    background-color: #333;
    margin: 0px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2vh;
   
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    opacity: 1;
}
/* content */
header{
    width: 100%;
    height: 100vh;
}
.bg
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(./IMG/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.content   
{
    margin: 0 auto;
    width: 90%;
    height: 70%;
   
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kolom
{
    width: 28%;
    height: 90%;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
  
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.8;
}
.kolom:hover
{
    width: 30%;
    height: 100%;
}
.kolom .atas
{
    width: 100%;
    height: 60%;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kolom:hover img{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 

}
.kolom .atas img
{
    width: 50%;
  
  transition: 3s;
}

.kolom .tengah
{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}
.kolom .bawah
{
    width: 100%;
    height: 30%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}
.kolom .bawah p
{
    width: 80%;
    height: auto;
    text-align: center;

}
/* amination */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/* footer */
footer
{
    background: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    
}
.bgf
{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(./IMG/bg2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.contentf
{
    
    width: 90%;
    height: 80%;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contentf .atas
{
    width: 100%;
    height: 45%;
    
}
.contentf .bawah
{
    
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
input
{
    border-radius: 50px;
    padding: 2vh 3vh 2vh 3vh;
    outline: none;
    border: none;
    color: #333;
    width: 50%;
    height: 10vh;
    font-size: 1.3rem;
    opacity: 0.7;
}
.title
{
    overflow: hidden;
    width: 60%;
    height: 30%;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    
    font-size: 1.3rem;
    padding-top: 25px;
}
.pra
{
    overflow: hidden;
    height: 60%;
    width: 60%;
    color: #f0f0f0;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    font-size: 1.2rem;
    text-align: center;
}